div{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	span{
		font-size: 24px;
		font-family: ProximaNova-Bold;
		font-weight: bold;
		color: #ffffff;
		background: linear-gradient(270deg, rgb(223, 99, 233) 0%, rgb(50, 154, 240) 100%) text;
		-webkit-text-fill-color: transparent;
		user-select: none;
		-ms-user-select: none; 
		-moz-user-select: none; 
		-khtml-user-select: none;
		-webkit-user-select: none;
		display: inline-block;
	}
}